<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="simple pastebin">
		<meta name="author" content="wikwg9">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<title>Simple PasteBin</title>
	</head>
	<body>
		<br>
		<div id="main-wrapper" class="wrapper container">
			<header class="container">
				<br>
				<a href="{% url 'create' %}" class="btn-lg btn-dark float-right">create new paste</a>
				<a href="{% url 'home' %}">
					<h1>My simple PasteBin</h1>
				</a>
			</header>
			<br><div class="divider"></div><br>
			<div id="content" class="container">
				{% block content %}
				{% endblock %}
			</div>
			<br><div class="divider"></div>
		</div>
		<br>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
